.app-content{
width: 100%;
}
form{
padding:10px 30px 20px 25px;
}
md-input-group.long > input{
width:100%;
}
md-card{
margin: 0 30px 25px 30px;
}

#header md-toolbar{
    background-color: #a4c408;
    height: 70px;
}

.header_button_menu{
    background: url("/img/images/menu.png") no-repeat !important;
    width: 40px;
    height: 30px;
    border-radius: 0 !important;
}

.logo{
    background: url("/img/images/logo.png") no-repeat !important;
    width: 113px;
    height: 48px;
    border-radius: 0 !important;
}

.left-menu{
    height: 550px;
}

.header_button span{
    color: #000000;
    border-bottom: 4px solid #000000;
    padding-bottom: 2px;
    margin-left: 20px;
}

.right_header_button span{
    color: #000000;
    font-size: 14px;
}
.titre_left{
    height: 60px;
    padding: 0 25px 0 10px;
}
.titre_right{
    font-size: 18px;
    font-weight: strong;
}
.favorite_box{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
}
.favorite_box p{
    font-size: 11px;
    margin: 3px 0px;
    line-height: 0.846;
}
.favorite_box img{
    clear: both;
}

.wrap_content{
    padding: 10px;
}
.mobile_app{
    height: 60px;
    border: 1px solid #ccc;
    border-bottom: 0;
}
.mobile_app img{
    padding-left: 20px;
    padding-right: 12px;
}
.mobile_app p{
    font-size: 14px;
}
.create_program{
    height: 60px;   
    border: 1px solid #ccc;
}
.create_program p{
    font-size: 14px;
}
.create_program img{
    padding-left: 20px;
    padding-right: 12px;
}
.advertising{
    padding-top: 70px;
}
.advertising p{
    margin: 0;
    font-size: 12px; 
}