.app-content{
width: 100%;
}
form{
padding:10px 30px 20px 25px;
}
md-input-group.long > input{
width:100%;
}
md-card{
margin: 0 30px 25px 30px;
}

#header md-toolbar{
    background-color: #a4c408;
    height: 70px;
}

.header_button_menu{
  /*  background: url("/img/images/menu.png") no-repeat !important;*/
   /* width: 40px;
    height: 30px;*/
    border-radius: 0 !important;   
}
.header_button_menu img{
    width: 20px;
}
.header_menu li{
    width: 200px;
    background: #a4c408;
    border-radius: 7px;
}
.logo{
    /*background: url("/img/images/logo.png") no-repeat !important;*/
    width: 113px;
    height: 48px;
    border-radius: 0 !important;
}

.left-menu{
    height: 550px;
}
.header_button span{
    color: #000000;  
   font-weight: bold;
   border-bottom: 3px solid black;
}

.right_header_button span{
    color: #000000;    
}
.titre_left{
    height: 60px;
    padding: 0 25px 0 10px;
}
.titre_right{
    font-size: 18px;
    font-weight: strong;
}
.favorite_box{
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
}
.favorite_box p{
    font-size: 11px;
    margin: 3px 0px;
    line-height: 0.846;
}
.favorite_box img{
    clear: both;
}

.wrap_content{
    padding: 10px;
}
.mobile_app{
    height: 60px;
    border: 1px solid #ccc;
    border-bottom: 0;
}
.mobile_app img{
    padding-left: 20px;
    padding-right: 12px;
}
.mobile_app p{
    font-size: 14px;
}
.create_program{
    height: 60px;   
    border: 1px solid #ccc;
}
.create_program p{
    font-size: 14px;
}
.create_program img{
    padding-left: 20px;
    padding-right: 12px;
}
.advertising{
    padding-top: 70px;
}
.advertising p{
    margin: 0;
    font-size: 12px; 
}

.toolbar-title{
    padding: 0 0 0 279px;
}

#content{
    width: 1020px;
    margin: auto;
}

.right_banner{

}

.region{
    padding-left: 30px;
    border-bottom: 1px solid #ccc;
}
.region p{
    font-size:14px;
    color: #ccc;
}
.position{
    padding-left: 30px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.position ul{
    padding-left: 13px;
}
.position ul li{
    font-size: 14px;
}
.position p{
    font-size: 14px;
}
.execution{
    padding-left: 30px;
    border-bottom: 1px solid #ccc;
}
.execution ul{
    padding-left: 13px;
}
.execution ul li{
    font-size: 14px;
}
.execution p{
    font-size: 14px;
}
.info_user{
    padding-top:10px; border-bottom: 1px solid #ccc;
}
.avatar{
    height:50px; border-bottom: 1px solid #ccc;
}
.username{
    font-weight:bold; padding-left:10px;
    font-size: xx-large;
}
.edit_profile{
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
}
.language{
    font-size: 12px;
    font-weight: bold;
}
.city{
    font-size: 12px;
    font-weight: bold;
}
.fullname{
    padding-top: 10px;
    font-size: 12px;
    font-weight: bold;
}
.my_program{
    border-bottom:1px solid #ccc; padding-bottom:10px;
}
.my_program_text{
    height:40px; padding-left: 10px;
}
.my_program_text p{
    font-size:14px; margin:0;
    font-weight: bold;
}
.list_tile{
    min-height:240px;
}
.tile_1{
    background-color:#d90947; 
    border: 5px solid #FFFFFF;    
}
.tile_2{
    background-color:#a4c408;
    border: 5px solid #FFFFFF;    
}
.tile_3{
    background-color:#5aa09c;
    border: 5px solid #FFFFFF;    
}
.main_content_register{
    text-align: center;
    margin-top: 60px;
    padding-bottom: 60px;
    padding-left: 60px;
    padding-right: 60px;
}
.sub{
    font-family: "akn-proxima-reg",helvetica neue,helvetica,arial,sans-serif;
    font-size: 16px;
    color: #8a8a8a;    
    margin-bottom: 3px;
    margin-top: 50px;
}
.btn_facebook {
    background: #3c5a98;
    font-size: .875rem;
    padding: 1em 3em !important;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}
.btn_next_register{
    background: #A4C408;
    font-size: .875rem;
    padding: 1em 7em !important;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}
.frm_register{
    margin-bottom: 25px;
}
.back_to_login{
    text-align: center;
    padding: 30px;
}
.back_to_login a{
    text-decoration: none;
}

.user_profile label{
    width: 150px;
    display:inline-block;
    font-weight: bold;
}
.input_row_register{
    height: 35px;
}
.input_row_register_fb{
    height: 40px;
   margin: 15px 0 15px 0;
}
.btn_change_pass{
    background: gray;
    font-size: .875rem;
    padding: 1em 3em;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}
.user_profile hr{
    border-width: 1px;
    border-color: rgba(204, 204, 204, 0.46);
}
.btn_change_save{
    background: black;
    font-size: .875rem;
    padding: 0.6em 3.5em !important;    
    text-decoration: none;
    color: white;
}
.btn_change_cancel{
    background: rgb(195, 204, 240);
    font-size: .875rem;
    padding: 0.6em 3.5em !important;   
    text-decoration: none;
    color: white;
}
.input_row_save_cancel{
    padding: 20px 0 20px 0;

}

.error{
    color: red;
}
.btn_facebook_user_profile{
    background: #3c5a98;
    font-size: .875rem;
    padding: 1em 3em !important;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}
.sub_nice_to_meet_you{
    margin-top:0px; 
    margin-bottom:35px;
}
.login_logout{
    padding-right:10px;
}
.logo_img{
    width: 102px;
}
input[type=date]{
    line-height: 20px !important;
}

@media (max-width: 720px) {   
   .advertisement{
       display: none !important;
    }
    form{       
       padding: 0 !important;
    }
    .input_row_save_cancel{
        padding: 10px 0 10px 0;
    }
}


/* TRI ---- User Index
*/
.user_favorite_exercise_img{
    background-size: 240px 230px;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 240px;
    min-width: 230px;
    background-position: center center;
}
.user_favorite_exercise{
    min-height: 240px;
}
.avatar img{
    border: solid lightgray 4px;
}

.UserIndexLeftContent{
    width: 724px;
}

.program_text_name{
    text-align:center;
    font-size:12px; 
    font-weight:bold;        
    position: absolute;
    left: 60px;
    bottom: 0;
}

.delete_icon_program{
    padding-top:10px;
}

.img_program{
    min-height: 160px;
}

.program_box{
    min-height: 220px !important;
    width: 25%;
    float: left;

}
/* Desktop */
@media (max-width: 1280px) {
    .toolbar-title {
        padding: 0;
    }

    #content{
        width: 100%;
        margin: 0;
    }

    .program_box{
        width: 25%;
    }
}

/* Ipad Ngang*/
@media (max-width: 1024px) {
    .program_box{
        width: 33%;
    }

}

/* Ipad Doc */
@media (max-width: 768px) {
    .UserIndexLeftContent{
        width: 460px;
    }
    .program_box{
        width: 50%;
    }
}

/* Iphone Ngang */
@media (max-width: 500px) {
    .program_box{
        width: 50%;
    }
    .user_favorite_exercise_img{
        background-size: cover;
    }    
    .username{
        font-weight:bold; padding-left:10px;
        font-size: large;
    }
    .list_tile{
        min-height:240px;
    }    
    .program_text_name{
        text-align:center;
        font-size:12px; 
        font-weight:bold;        
        position: absolute;
        left: 120px;
        bottom: 0;
    }
    .menu-right{
        display: none !important;
    }     
    .UserIndexLeftContent{
        width: 100%;
    }
}

/* Iphone Doc*/
@media (max-width: 400px) {    
    .program_box{
        width: 100%;
    }
    .user_profile label{
        width: 90px;
        
        font-size: 12px;
    }
    .user_profile input{
        font-size: 12px;   
    }
    .btn_change_pass{
        font-size: 12px !important;
        padding: 0.5em 1em !important;
    }
    .btn_facebook_user_profile{        
        font-size: 12px !important;
        padding: 0.5em 1em !important;        
    }
    .btn_change_save{        
        font-size: 12px !important;
        padding: 0.5em 2em !important;            
    }
    .btn_change_cancel{        
        font-size: 12px !important;
        padding: 0.5em 2em !important;           
    }

    .main_content_register{       
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
    }
    .sub{
        margin-top: 20px;
        font-size: 12px;
    }
    .sub_nice_to_meet_you{
        margin-top:0px; 
        margin-bottom:25px;
        font-size: 20px;
    }
    .btn_facebook {        
        font-size: 15px !important;
        padding: 0.5em 1em !important;        
    }
    .register_input_set{
        width: 200px !important;
    }
    .btn_next_register{        
        font-size: 15px;
        padding: 0.5em 2em !important;        
    }
    .back_to_login{
        padding: 10px 0;        
    }
    .login_logout{
        padding-right: 0;
    }
    .login_logout p1{
        display: none;
    }  
    .wrap-dd-menu{
        padding: 0 !important;
    }
    .logo_img{
        width: 98px;
    }   
    .menu-right{
        display: none !important;
    }     
    .UserIndexLeftContent{
        width: 100%;
    }   
}